<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true">

  <!-- https://github.com/NLog/NLog/wiki/AspNetRequest-layout-renderer 
  -->
  
  <!-- Load the ASP.NET Core plugin -->
  <!--<extensions>
    <add assembly="NLog.Web.AspNetCore"/>
  </extensions>-->

  <targets>
    <target name="logfile" xsi:type="File" fileName="C:\Temp\web_api_pattern-${shortdate}.log"
            layout="${shortdate} ${message} ${exception:format=tostring}"/>

    <target name="jsonfile" xsi:type="File" fileName="C:\Temp\web_api_pattern-${shortdate}.log">
      <layout xsi:type="JsonLayout">
        <attribute name="time" layout="${longdate}" />
        <attribute name="level" layout="${level:upperCase=true}"/>
        <attribute name="message" layout="${message}" />
        <attribute name="requestHost" layout="${aspnet-request-host}" />
        <attribute name="requestUrl" layout="${aspnet-request-url}"/>
        <attribute name="requestMethod" layout="${aspnet-request-method}" />
        <attribute name="requestQuery" layout="${aspnet-request-querystring}" />

        <attribute name='exception' encode='false'  >
          <layout type='JsonLayout'>
            <attribute name="type" layout="${exception:format=shortType}" />
            <attribute name="message" layout="${exception:format=message}" />
            <attribute name="method" layout="${exception:format=method}" />
            <attribute name="data" layout="${exception:format=data}" />
            <attribute name="stacktrace" layout="${exception:format=stacktrace}" />
            <attribute name='innerException' encode='false'  >
              <layout type='JsonLayout'>
                <attribute name="type" layout="${exception:format=:innerFormat=shortType:MaxInnerExceptionLevel=5:InnerExceptionSeparator= ** }" />
                <attribute name="message" layout="${exception:format=:innerFormat=message:MaxInnerExceptionLevel=5:InnerExceptionSeparator= ** }" />
                <attribute name="data" layout="${exception:format=:innerFormat=data:MaxInnerExceptionLevel=5:InnerExceptionSeparator= ** }" />
              </layout>
            </attribute>
          </layout>
        </attribute>
      </layout>
    </target>

  </targets>

  <rules>
    <logger name="*" minlevel="Warn" writeTo="jsonfile" />
  </rules>
</nlog>
